.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-evenly;
  padding: 13px 0px 0px;
}

.facebook-login {
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}


#button-login {
  background-color: #4267B2;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  background-color: #4267B2;
  border: 1px solid #29487d;
  padding: 2px 6px;
}