* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-evenly;
  padding: 13px 0;
}

.facebook-login {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin-right: 30px;
}

#user-email-phone , #user-password {
  width: 150px;
  height: 24px;
}

#button-login {
  background-color: #4267b2;
  border: 1px solid #29487d;
  padding: 2px 6px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.form-control {
  align-self: flex-end;
  background-color: #4267b2;
  padding: 2px 6px;
  width: 49.34px;
  height: 24px;
  font-family: inherit;
}

.main-content {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}

.left-content {
  width: 800px;
  justify-content: space-evenly;
}

.right-content {
  width: 300px;
}
